<%= form_for(@league) do |f| %>
  <% if @league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>

      <ul>
      <% @league.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </p>

    <p>
      <%= f.label :starts_at %><br>
      <%= f.date_field :starts_at %>
    </p>

  <div class="actions">
    <%= f.submit nil, class: 'btn btn-default btn-primary' %>
  </div>
<% end %>
