<div class="container">

  <div class="page-header">
    <h1>Leagues</h1>
  </div>

  <div class="row">
    <div class="col-md-12">

      <p id="notice"><%= notice %></p>

      <table class="table">
        <thead>
        <tr>
          <th>Start Date</th>
          <th>Name</th>
          <th>Admin</th>
        </tr>
        </thead>

        <tbody>
        <% @leagues.each do |league| %>
            <tr>
              <td><%= league.starts_at ? league.starts_at.strftime('%m/%d/%Y') : 'None' %></td>
              <td><%= league.name %></td>
              <td>
                  <%= link_to 'Edit', edit_league_path(league) %> |
                  <%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <p><%= link_to 'New League', new_league_path %></p>

    </div>
  </div>

</div>
