<div class="container">

  <div class="page-header">
    <h1>Leagues</h1>
  </div>

  <div class="row">
    <div class="col-md-12">

      <p id="notice"><%= notice %></p>

      <% if @leagues.any? %>

        <table class="table">
          <thead>
          <tr>
            <th>Start Date</th>
            <th>Name</th>
            <th>Commissioner Actions</th>
            <% if current_user.admin? %><th>Admin Actions</th><% end %>
          </tr>
          </thead>

          <tbody>
          <% @leagues.each do |league| %>
            <tr>
              <td><%= league.starts_at ? league.starts_at.strftime('%m/%d/%Y') : 'None' %></td>
              <td><%= league.name %></td>
              <td>
                <% if league.invite_uuid %>
                  <input type="button" value="Invite" class="invite-btn" data-invite-area="invite-area-<%= league.id %>">
                  <span id="invite-area-<%= league.id %>" style="display:none">
                    Share this link:
                    <input type="text" class="invite-url" value="<%= invite_url(invite_uuid: league.invite_uuid) %>">
                  </span>
                <% end %>
              </td>
              <% if current_user.admin? %>
                <td>
                  <%= link_to 'Email', mass_email_league_path(league) %> |
                  <%= link_to 'Edit', edit_league_path(league) %> |
                  <%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>

      <% else %>
        <p>You don't own any leagues yet.</p>
      <% end %>

      <p><%= link_to 'New League', new_league_path %></p>

    </div>
  </div>

</div>

<%= javascript_include_tag 'leagues.js' %>