<div class="container">
  <h2>My pool entries</h2>
  <hr/>
  <% if flash[:notice] %>

      <div class="alert alert-info" role="alert">
        <%= flash[:notice] %>
      </div>

  <% end %>

  <% if @entries.any? %>

      <table class="table table-striped">
        <tr>
          <th>Received</th>
          <th>Team Assignment</th>
          <th>Entry Fee Status</th>
        </tr>
        <% @entries.each do |entry| %>
            <tr>
              <td><%= entry.created_at.strftime('%D %r') %></td>
              <td>
                <% if entry.team %>
                    <%= image_tag "teams/#{entry.team.data_name}.png" %>&nbsp;
                    <%= entry.team.name %>
                <% else %>
                    Pending
                <% end %>
              </td>
              <td><%= entry.paid_at ? 'Paid' : 'Not Paid' %></td>
            </tr>
        <% end %>
      </table>

  <% else %>

    <p>
      You don't have any entries.
    </p>

  <% end %>

  <h2>Buy entries</h2>
  <hr/>

  <%= form_tag({action: 'buy'}, {method: :post, id: 'buy_entries'}) do %>
    <p>
      <%= label_tag 'league_id', 'League' %>: <%= select_tag 'league_id', options_from_collection_for_select(@leagues, 'id', 'name') %>&nbsp;&nbsp;
      <%= label_tag 'quantity', 'Quantity (min 2, max 5)' %>: <%= text_field_tag 'quantity', nil, autofocus: true, value: '1' %>&nbsp;&nbsp;<b>Cost</b>: <span id="cost">$5</span>&nbsp;
      <input type="submit" class="btn btn-primary" value="Buy" id="buy"/>
    </p>
  <% end %>

</div>
