<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Current standings</h2>
      <hr/>

      <% if flash[:notice] %>
          <div class="alert alert-info" role="alert">
            <%= flash[:notice] %>
          </div>
      <% end %>

      <table class="table table-striped">
        <tr>
          <th>Rank</th>
          <th>Player</th>
          <th>Team</th>
          <% 14.times do |i| %>
              <th class="runs-header"><%= i %></th>
          <% end %>
          <th class="text-center">Games Played</th>
          <th class="text-center">Runs</th>
          <% if current_user.admin %>
              <th>Admin</th>
          <% end %>
        </tr>
        <% @entries.each do |entry| %>
            <tr class="<% if entry[:won_at] %>winner-<%= entry[:won_place] %><% end %>">
              <td>
                <% unless entry[:team_data_name].blank? %>
                    <%= entry[:rank] %>
                <% end %>
              </td>
              <td>
                <%= image_tag entry[:gravatar_url], class: 'gravatar' %>&nbsp;
                <%= entry[:name] %>
                <% if entry[:won_at] %>
                    <span class="winner-icon glyphicon glyphicon-ok-sign"></span> <span class="winner-text">Won <%= entry[:won_place].ordinalize  %></span>
                <% end %>
              </td>
              <td>
                <% unless entry[:team_data_name].blank? %>
                    <%= image_tag "teams/#{entry[:team_data_name]}.png" %>&nbsp;
                <% end %>
                <%= entry[:team_name] %>
              </td>
              <% 14.times do |i| %>
                  <td class="runs-cell"><% if hit = entry[:runs].where(runs: i).first %><a href="<%= game_path(hit.game.id) %>"><span class="runs-marker" data-toggle="tooltip" title="<%= hit.game.started_on %>">X</span></a><% end %></td>
            <% end %>
              <td class="text-center"><%= entry[:games_played] %></td>
              <td class="text-center"><%= entry[:run_count] %></td>
              <% if current_user.admin %>
                  <td>
                    <% if entry[:paid_at].nil? %>
                        <%= button_to 'Pay', pay_entry_path(entry[:id]), { method: :post, data: {confirm: 'Mark as paid?'} } %>
                    <% end %>
                  </td>
              <% end %>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
