<div class="container">
  <h2>Listing <%= @games.count %> games</h2>
  <hr/>

  <% if current_user.admin? %>
    <P><%= link_to 'Enter Games', mass_entry_games_path %></P>
  <% end %>

  <form>
    Filter games by date: <%= date_field 'date', nil, value: params[:date] %>
    <input type="submit" value="Go"/>
    <% if params[:date] %>
        <%= link_to 'Remove filter', games_path %>
    <% end %>
  </form>

  <%= will_paginate @posts %>

  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Away Team Name</th>
      <th>Away Team Runs</th>
      <th>Home Team Name</th>
      <th>Home Team Runs</th>
    </tr>
    <% @games.each do |game| %>
        <!-- Game ID <%= game.id.to_s %> -->
        <tr>
          <td><%= game.started_on %></td>
          <td><%= game.away_team.name %></td>
          <td><%= game.away_score %></td>
          <td><%= game.home_team.name %></td>
          <td><%= game.home_score %></td>
        </tr>
    <% end %>
  </table>

  <%= will_paginate @posts %>
</div>