<div class="container">
  <h2>Viewing game</h2>

  <p>Game date: <%= @game.started_on %></p>
  <p>Score: <%= @game.away_team.name %> <%= @game.away_score %> - <%= @game.home_team.name %> <%= @game.home_score %></p>

</div>