<!DOCTYPE html>
<html>
<head>
  <title>Dan's MLB Runs Pool</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'jquery.multi-select.js' %>
  <%= stylesheet_link_tag 'multi-select', media: 'screen' %>
  <%= stylesheet_link_tag 'runspool', media: 'screen' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
