<!DOCTYPE html>
<html lang="en">
<head>
  <title>Race to 13<% if content_for?(:title) %> - <%= yield(:title) %><% end %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <link rel="icon" type="image/png" href="/favicon.png" />

  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'jquery.multi-select' %>
  <%= javascript_include_tag 'bootstrap/bootstrap' %>
  <%= javascript_include_tag 'runspool' %>

  <%= stylesheet_link_tag 'bootstrap/bootstrap' %>
  <%= stylesheet_link_tag 'multi-select', media: 'screen' %>
  <%= stylesheet_link_tag 'runspool', media: 'screen' %>

  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta name="google" content="notranslate">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if ENV['GOOGLE_ANALYTICS_TAG_ID'] %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_ANALYTICS_TAG_ID'] %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= ENV['GOOGLE_ANALYTICS_TAG_ID'] %>');
    </script>
  <% end %>
</head>
<body role="document">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <b><a class="navbar-brand" href="/">Race To 13</a></b>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Rules', rules_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to 'Leagues', leagues_path %></li>
            <li><%= link_to 'Entries', entries_path %></li>
            <li><%= link_to 'Standings', standings_path %></li>
            <li><%= link_to 'Game log', games_path %></li>
            <li><%= link_to 'Settings', edit_user_registration_path %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Log in', new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<%= yield %>

</body>
</html>
